.button1 {
    display: inline-block;
    color: #1e1166;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 100;
    background-color: #92bbff
}

