


.header{
    width: 100%;
    background: #6495ED;
    height: 70px;
}
.container{
    margin-left:auto;
    margin-right:auto;
    width: 95%; /* Ширина слоя в пикселах */
    height: 300px; /* Высота слоя в пикселах */
    margin-top: 50px;	/* Отступ сверху */
    background: #87CEEB; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки вокруг */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 10px;
    text-align: center;
    font-size: 21px;
    font-family: Сomic Sans MS;
}

a {
    font-family: Lucida Sans Unicode;
    color: #000000;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    text-decoration: none;
    padding-left: 20px;

}
