body{
    background-image: url("../images/fon1.jpg") ;
}
.sps{
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    height: 180px;
    margin-top: 50px;
    border-radius: 5px;
    background: #fff6cdbf;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: Bandicoot;
}