<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link  rel="stylesheet" type="text/css" th:href="@{/css/button.css}" />
    <link  rel="stylesheet" th:href="@{/css/userstyle.css}" />
    <title>For User</title>
</head>
<body>
<div class="sps">
    <p>
        Спасибо за отсавленную заявку! Скоро с вами свяжется специалист по организации вашего праздника и обсудит с вами дальнейшие вопросы
    </p>
    <a th:href="@{/index} ">
        <button class="button1" > На главную страницу </button>
    </a>
</div>
</body>
</html>