
<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.springframework.org/schema/security" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link  rel="stylesheet" th:href="@{/css/header.css}" />
    <link  rel="stylesheet" type="text/css" th:href="@{/css/button.css}" />
</head>
<body>
<div class="header">
    <!-- <form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">-->
    <!--        <input type="submit" value="logout">-->
    <!--    </form>-->
    <h1> САЛЮТ</h1>
   <a  sec:authorize="isAnonymous()" th:href="@{/login}">Войти</a>
    <a  sec:authorize="isAnonymous()" th:href="@{/registration}">Зарегистрироваться</a>


    <a th:if="${user != 'anonymous'}" th:text="${user}"></a>
</div>
<div class="container">

<p>
    Создайте свой праздик, выбрав нужные вам услуги. Так наши сотрудники смогут в заранее подготовить интересующие вас моменты и
    продемонстрировать их возможные варианты реализации при первой встрече с вами
</p>
    <a th:href="@{/zakaz} ">
    <button class="button1" > Создай свой праздник </button>
    </a>
</div>
<div class="container1">
    <p>
        Мы работаем ответственно и оперативно. Активно сотрудничаем и имеем налаженные связи со СМИ, привлекаем к проведению
        мероприятий celebrity и представителей шоу-бизнеса, работаем с лидерами мнений. «САЛЮТ» — Агентство с душой, с настроением, с позитивной энергией и нацеленностью
        на результат. Мы всегда ищем новые, неизбитые, интересные свежие идеи и решения. Мы любим свою работу, а потому с интересом, и можно
        сказать, с азартом беремся за каждый новый проект. Может быть следующим таким
        проектом станет ваш заказ? Он может быть совсем небольшим, предельно локальным... но обязательно будет ярким!
    </p>

</div>
</body>
</html>